*{
  text-transform: capitalize;
  transition: .3 all linear;
  box-sizing:border-box;
}

/* *<===media quries===>* */
@media screen and (max-width:500px) {
  body{
    font-size:50%;
    background:#010c17f0;
    color:#fff;
    overflow-x:hidden;
  }
  .h1{
    font-size:34px !important;
  }
  #grid{
    width:350px;
  }
  #section{
    width:90%;
  }
  .text{
    font-size:24px !important;
  }
  input{
    width:250px !important;
    font-size:14px !important;
    color:#333 !important;
    font-weight:bold !important;
    outline:none !important;
  }

  .button{
    font-size:16px !important;

  }
  ::placeholder{
    font-weight:normal !important;
  }
}